-- -----------------------------------------------------
-- Table: event_config
-- Stores event configuration details
-- -----------------------------------------------------

CREATE TABLE event_config (
  id INT AUTO_INCREMENT PRIMARY KEY,
  event_name VARCHAR(255) NOT NULL,
  category VARCHAR(100) NOT NULL,
  registration_start INT NOT NULL,
  registration_end INT NOT NULL,
  event_date INT NOT NULL,
  created INT NOT NULL
);

-- -----------------------------------------------------
-- Table: event_registration
-- Stores participant registrations
-- -----------------------------------------------------

CREATE TABLE event_registration (
  id INT AUTO_INCREMENT PRIMARY KEY,
  full_name VARCHAR(255),
  email VARCHAR(255),
  college_name VARCHAR(255),
  department VARCHAR(255),
  event_config_id INT NOT NULL,
  created INT NOT NULL,
  
  CONSTRAINT fk_event
    FOREIGN KEY (event_config_id)
    REFERENCES event_config(id)
    ON DELETE CASCADE
);

-- =====================================================
-- Event Registration Module - Custom Database Tables
-- =====================================================
-- This SQL file creates the custom database tables for the event registration system.
-- Import this file into your Drupal database to set up the required tables.

-- =====================================================
-- Table: event_config
-- Description: Stores event configuration and metadata
-- =====================================================
CREATE TABLE IF NOT EXISTS `event_config` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `event_name` varchar(255) NOT NULL COMMENT 'Name of the event',
  `event_date` int(11) NOT NULL COMMENT 'Unix timestamp of event date',
  `category` varchar(100) COMMENT 'Event category (hackathon, webinar, etc)',
  `description` longtext COMMENT 'Event description',
  `max_registrations` int(11) COMMENT 'Maximum number of registrations allowed',
  `status` varchar(50) DEFAULT 'active' COMMENT 'Event status (active, inactive, archived)',
  `created` int(11) NOT NULL COMMENT 'Unix timestamp when created',
  `updated` int(11) COMMENT 'Unix timestamp when last updated',
  PRIMARY KEY (`id`),
  KEY `event_date_idx` (`event_date`),
  KEY `status_idx` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Event configuration table';

-- =====================================================
-- Table: event_registration
-- Description: Stores individual event registrations
-- =====================================================
CREATE TABLE IF NOT EXISTS `event_registration` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `event_config_id` int(11) NOT NULL COMMENT 'Foreign key to event_config table',
  `full_name` varchar(255) NOT NULL COMMENT 'Participant full name',
  `email` varchar(255) NOT NULL COMMENT 'Participant email address',
  `phone` varchar(20) COMMENT 'Participant phone number',
  `college_name` varchar(255) COMMENT 'College/Organization name',
  `department` varchar(100) COMMENT 'Department or field of study',
  `registration_status` varchar(50) DEFAULT 'registered' COMMENT 'Registration status (registered, attended, cancelled)',
  `created` int(11) NOT NULL COMMENT 'Unix timestamp when registration created',
  `updated` int(11) COMMENT 'Unix timestamp when last updated',
  PRIMARY KEY (`id`),
  KEY `event_config_id_idx` (`event_config_id`),
  KEY `email_idx` (`email`),
  KEY `created_idx` (`created`),
  CONSTRAINT `fk_event_registration_event_config` FOREIGN KEY (`event_config_id`) 
    REFERENCES `event_config` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Event registrations table';

-- =====================================================
-- Sample Data (Optional - for testing)
-- =====================================================
-- Uncomment below to insert sample data

-- INSERT INTO `event_config` (`event_name`, `event_date`, `category`, `description`, `status`, `created`) 
-- VALUES 
-- ('Tech Hackathon 2026', UNIX_TIMESTAMP('2026-02-21 10:00:00'), 'hackathon', 'Annual tech hackathon', 'active', UNIX_TIMESTAMP()),
-- ('Web Development Workshop', UNIX_TIMESTAMP('2026-03-15 14:00:00'), 'workshop', '3-day web development workshop', 'active', UNIX_TIMESTAMP());

-- INSERT INTO `event_registration` (`event_config_id`, `full_name`, `email`, `college_name`, `department`, `created`) 
-- VALUES 
-- (1, 'Tanisha Somaroni', 'tanisha.somaroni@gmail.com', 'VIT', 'CSE', UNIX_TIMESTAMP()),
-- (1, 'Avisha Sahu', 'avisha.sahu@vitbhopal.ac.in', 'VIT', 'EEE', UNIX_TIMESTAMP());

